@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");
@import-normalize;
* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Coming Soon", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {


  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
}

